#rcorners1 {
    background: #5bc0de;
    height: 100px; 
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom:5px;
    color:inherit;
}

#contactForm {
    background: #5bc0de;
    height: 600px; 
    padding-top:100px;
    padding-bottom:0px;
    margin-bottom:0px;
    color:inherit;
}
