<!DOCTYPE html>
<div class="alert alert-info fade in">
<div class="row">
<div class="col-sm-1"></div>
<div class="col-sm-10">
  <h2><abbr title="Head Office">London</abbr></h2>
  <p>Our office is registered in London</p>
  <p>Contact details:</p>
  Shibu Manoharan<br>
  Mob: (+44) 07427678641
</div>
<div class="col-sm-1"></div>
</div>
<div class="row">
<div class="col-sm-1"></div>
<div class="col-sm-10">
  <h2><abbr title="Offshore Office">India</abbr></h2>
  <p>Our offshore development team is located in Chennai, India</p>
  <p>Contact details:</p>
  Palani<br>
</div>
<div class="col-sm-1"></div>
</div>
</div>
