<div class="alert alert-info fade in">
<fieldset>   
    <br><br><legend><span class="tab">Profile</span></legend><br><br>
	<div id="over">
	<img src="images/img1.jpg" width="600" height="300"><BR><BR><BR>
		
	<img src="images/img2.jpg" width="600" height="300"/><BR><BR><BR>
	
	<img src="images/img3.jpg" width="400" height="300"/><BR><BR><BR>
	
	<div>
	</div>
	
	
	</div>
	<span class="tab2"><img src="images/img4.jpg"/></span>
	<span class="tab2"><img src="images/img5.jpg"/></span>
	<span class="tab2"><img src="images/img6.jpg"/></span>
	<span class="tab2"><img src="images/img7.jpg"/></span>
	<BR><BR><BR>
	<BR><BR>
</fieldset>
</div>