<div class="alert alert-info fade in">
<fieldset>   
    <br><br><legend><span class="tab">Services</span></legend><span class="tab"><p>We have a high caliber development team which we can guarantee you a high end production product.<p></span>
	<br><br>
	We specialize in the following areas,
	<ul>
		<li>Website Development</li>
		<li>Mobile Application Development</li>
		<li>Flash Animations</li>
		<li>Graphic design</li>
		<li>Game development</li>
	</ul>
	
	Please see the portfolio work to see the works done for different clients.
	
	<BR><BR>
</fieldset>
</div>